<h1><%= t("beverages.index.title") %></h1>

<div class="cards">
  <% @beverages.each do |beverage| %>
    <div class="card">
      <div class="card__image">
        <%= image_tag "beverages/sample.png", alt: beverage.name %>
      </div>

      <p class="card__title">
        <%= link_to beverage.name, beverage_path(beverage) %>
      </p>

      <p class="card__meta">
        <%= beverage.category&.name %>
      </p>

      <% if user_signed_in? %>
        <div class="card__actions">
          <% if current_user.favorites.exists?(beverage: beverage) %>
            <%= button_to t("beverages.index.unfavorite"),
                          beverage_favorite_path(beverage),
                          method: :delete,
                          class: "btn" %>
          <% else %>
            <%= button_to t("beverages.index.favorite"),
                          beverage_favorite_path(beverage),
                          method: :post,
                          class: "btn" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


