<h1><%= @beverage.name %></h1>

<p>
  <%= t("beverages.show.category") %>：
  <%= @beverage.category.name %>
</p>

<p><%= @beverage.description %></p>

<%= link_to t("beverages.show.back"), beverages_path %>