<h1><%= t("favorites.index.title") %></h1>

<% if @beverages.any? %>
  <ul>
    <% @beverages.each do |beverage| %>
      <li>
        <%= link_to beverage.name, beverage_path(beverage) %>
        （<%= beverage.category.name %>）

        <%= button_to t("favorites.index.unfavorite"),
                      beverage_favorite_path(beverage),
                      method: :delete,
                      class: "btn btn-outline-danger btn-sm" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p><%= t("favorites.index.empty") %></p>
<% end %>
