<h1><%= t("app.name") %></h1>
<p><%= t("app.tagline") %></p>

<% if user_signed_in? %>
  <p>
    <%= link_to t("pages.home.cta.record"), new_tasting_log_path %> |
    <%= link_to t("pages.home.cta.browse"), beverages_path %>
  </p>
<% else %>
  <p>
    <%= link_to t("pages.home.cta.login_to_start"), new_user_session_path %>
  </p>
<% end %>