<h1><%= t("mypage.title") %></h1>

<p>
  <%= t("mypage.logged_in_as") %>：
  <strong><%= @user.email %></strong>
</p>

<hr>

<ul>
  <li>
    <%= link_to t("mypage.links.tasting_logs"), tasting_logs_path %>
    （<%= t("mypage.count", count: @user.tasting_logs.count) %>）
  </li>

  <li>
    <%= link_to t("mypage.links.favorites"), favorites_path %>
    （<%= t("mypage.count", count: @user.favorites.count) %>）
  </li>
</ul>
