<h1><%= t("tasting_logs.index.title") %></h1>

<p>
  <%= link_to t("tasting_logs.index.new"),
              new_tasting_log_path %>
</p>

<ul>
  <% @tasting_logs.each do |log| %>
    <li>
      <%= link_to log.beverage.name, tasting_log_path(log) %>

      <% if log.tasted_on.present? %>
        （<%= t("tasting_logs.index.tasted_on", date: log.tasted_on) %>）
      <% end %>

      <% if log.rating.present? %>
        <%= t("tasting_logs.index.rating", rating: log.rating) %>
      <% end %>
    </li>
  <% end %>
</ul>

